{% macro preview(product, base_url, page, is_last) %}
    <article class="box product" {% if is_last %} hx-get="/product-previews/{{page}}.html" hx-trigger="revealed" hx-swap="afterend"{% endif%} >
        <div class="columns">
            <div class="column is-2">
                <figure class="image is-128x128">
                  <img src="{{product['thumbnail']}}">
                </figure>
            </div>
            <div class="column is-9">
              <h3><a href="{{base_url}}/product/{{product['id']}}.html">{{product['title']}}</a></h3>
              <div class="short-description">{{product["description"]}}</div>
            </div>
            <div class="column is-1">
              <div class="price">{{product["price"]}}</div>
            </div>
        </div>
    </article>
{% endmacro %}