{% extends "base.html" %}
    {% block head %}
    <title>Products page {{page_number}}}</title>
    {% endblock %}
{% block content %}
    <div class="paging-total">Total results: {{result_total}}</div>
    {% include 'includes/product-paging.html' %}
    {% import 'macros/products.html' as product_render %}
    {% for product in products %}
        {{ product_render.preview(product, base_url, page_number + 1, False)}}
    {% endfor%}
    {% include 'includes/product-paging.html' %}
{% endblock %}